<app-header></app-header>
<div>
<modern-button
  functionType="danger"
  fontSize="regular"
  [roundedCorners]="false"
  [isFilled]="true"
  label="Button"
  imagePath="/assets/repo.svg"
  imageAlign="right"
></modern-button>
<modern-button
  functionType="danger"
  fontSize="regular"
  [roundedCorners]="false"
  [isFilled]="true"
  label="Button"
></modern-button>
<modern-button
  functionType="dark"
  fontSize="regular"
  [roundedCorners]="false"
  [isFilled]="false"
  label="Button"
></modern-button>
<modern-button
  functionType="dark"
  fontSize="regular"
  [roundedCorners]="false"
  [isFilled]="true"
  label="Button"
></modern-button>
<modern-button
  functionType="info"
  fontSize="regular"
  [roundedCorners]="true"
  [isFilled]="false"
  label="Button"
></modern-button>
  <modern-button
    functionType="primary"
    fontSize="large"
    [roundedCorners]="false"
    [isFilled]="true"
    label="Button"
  ></modern-button>
</div>
<div style="display: flex; align-items: center;">
  <rectangle-animation
    [size]="150"
    [animated]="true"
    fill="blue"
    [hover]="true"
  ></rectangle-animation>
  <rectangle-animation [size]="150" [animated]="true"></rectangle-animation>
  <rectangle-animation [size]="20" [animated]="true"></rectangle-animation>
  <rectangle-animation
    [size]="20"
    [animated]="true"
    fill="red"
    [withCenter]="false"
  ></rectangle-animation>
</div>
<div>
  <horse-button></horse-button>
</div>
<div style="padding:10px;background-color:blue;">
  <deutschland-animation></deutschland-animation>
</div>
<div>Hallo</div>
