$primaryBlue: #3e64ff;
$successGreen: #94aa2a;
$dangerPink: #f0134d;
$warningYellow: #f1bc31;
$infoBlue: #64c4ed;
$light: #f8f9fa;
$lightHover: #e2e6ea;
$dark: #343a40;

$fontColorLight: #000;
$fontColorDark: #343a40;
